<!DOCTYPE html>
<html>
  <head>
{{ head | safe }}
    <title>Page Title</title>
    <link rel="stylesheet" href="/dist/css/main.min.css">
    <base href="https://www.example.com/news/index.html">
    <script src="/scripts/myscript.js"></script>
  </head>
{{ body | safe }}
</html>
