site_globals('test') = {{ site_globals('test') }}
has_string('temp') = {{ has_string('temp') }}
has_string('exists', 'global') = {{ has_string('exists', 'global') }}
get_string('exists', 'global') = {{ get_string('exists', 'global') }}
page_has_locale('global', 'en') = {{ page_has_locale('global', 'en') }}
page_has_locale('global', 'de') = {{ page_has_locale('global', 'de') }}
