<!-- {
  "title": "Awesome page",
  "image": {
    "url": "/img/awesome.jpg",
    "height": 768
  },
  "tags": ["awesome", "news"]
} 
Some extra comment text
-->

{{ title }}
{{ image['height'] }}
<!-- Test comment -->
{{ tags[0] }}