template = empty 
product = foo
title = test_metadata
tags = [popular, bar]
<h1> Unfiltered </h1>
<ul>
    {%- for unfiltered_page in get_pages_metadata() -%}
        <li>title : {{ unfiltered_page['page']}} </li>
{%- endfor %}
</ul>

<h1> Filtered </h1>
<ul>
    {%- for filtered_page in get_pages_metadata({'tags': ['popular', 'bar']}) -%}
        <li>title : {{ filtered_page['page'] }} </li>
{%- endfor %}
</ul>
